/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*		my settings  		*/

* {
	font-style: normal;
	font-weight: normal;
	font-family: Roboto;
}
body{
	width: 100vw;
	height: 100vh;
	font-size: 30px;
	background: linear-gradient(180deg, #0047FF 35.39%, #001B61 100%);
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}


/*right*/

h2{
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.05em;
	margin: 0 0 5vh 0;
	width: 80%;
	color: #FFFFFF;
}

/* list of href links in UL */
.btlist{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
}

#errtext{
	color: red;
	font-size: 1em;
	text-align: justify;
	letter-spacing: 0.05em;
	height: 5vh;
	width: 80%;
	margin: 1vh 0 0 0;
	box-sizing: content-box; /*border-box*/
}



.button1{ /*niebieski*/
	background-color: #759BFF;
	
}
.button2 { /*bialy*/
	background-color: #FFFFFF;	
}
.buttonShaded { /*szary*/
	background-color: #999999;
}


.bt{
	border-radius: 10px;
	border: none;
	
	font-size: 0.6em;
	text-align: center;
	letter-spacing: 0.10em;
	color: #000000;
	height: 6vh;
	margin: 1vh 0vw;
}



li{
	line-height: 6vh;
}

.bta{
	border-radius: 10px;
	border: none;
	font-size: 0.6em;
	text-align: center;
	letter-spacing: 0.10em;
	color: #000000;
	height: 6vh;
	width: 100%;
	margin: 1vh 0vw;
	box-sizing: content-box;
	display: block;
	text-decoration: none;
}

a{
	text-decoration: none;
	line-height: 6vh;
}

.no-valid{
	border: 3px solid red;
	border-radius: 10px;
	box-shadow: 0 0 0.2em red;
	outline: none;
}