/*common + for computer first */

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

h2{
	margin: 0;
	width: 100%;
}

#errtext{
	font-size: 0.6em;
	width: 100%;
	margin: 0;
}

.btlist{
	width: 100%;
}


section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #C4C4C4;
}

form input[type=text]{
	flex-grow: 1;
}

label{
	background: #87BEFF;
	padding: 0 0.25em;
}

.add{
	width: 6em;
	background: #BD9DFF;
}
.edit{
	width: 3em;
	background: #BD9DFF;
}
.rem{
	width: 3em;
	background: #759BFF;
}


/*form + naglowek*/
.record{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
	overflow: hidden;
}

#errtext{
	width: 100%;
	height: 10vh;
}


@media only screen and (min-device-width: 601px) {
	.record{
		border-radius: 10px;
		display: flex;
		flex-direction: column;
	}
	.up, .down{
		height: 100%;
		width: 100%;
		border-radius: 10px;
		display: flex;
		flex-direction: row;
		justify-content: right;
	}
	.label{
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: right;
		background: #87BEFF;;
	}
}


@media only screen and (max-device-width: 600px) {

	body{
		font-size: 48px;
	}

	h2{
		margin-top: 3vh;
	}
	section{
		height: 60vh;
		width: 100%;
		font-size: 44px;
	}

	.record{
		border-radius: 20px;
	}
	.rem, .edit{
		width: 3em;
	}
	.record{
		border-radius: 20px;
		display: flex;
		flex-direction: column;
	}
	.up, .down{
		height: 100%;
		width: 100%;
		border-radius: 20px;
		display: flex;
		flex-direction: row;
		justify-content: right;
	}
	.label{
		flex-grow: 1;
		display: flex;
		flex-direction: row;
		justify-content: right;
		background: #87BEFF;;
	}
	input[type=radio]{
		height: 0.6em;
		width: 0.6em;
	}
	a.bta{
		font-size: 1em;
		border-radius: 1em;
	}
}


.record:last-child{
	margin: 0;
}