/*common + for computer first */

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 80%;
	margin: 0 auto;
}


h2{
	margin: 2vh 0;
	width: 100%;
}

.btlist{
	width: 100%;
}

#errtext{
	font-size: 0.6em;
	width: 100%;
	margin: 0;
}



.bt, .bta{
	margin: 1vh 0;
}



section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
	height: 30vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #C4C4C4;
}

.record{
	display: flex;
	flex-direction: row;
	min-height: 3vh;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
}

.computer:last-child, .phone:last-child{
	margin: 0;
}

#buyinfo input, input[name=address]{
	letter-spacing: 0;
}

#fileinput *{
	margin: 0;
}

@media only screen and (min-device-width: 801px) {

	section{
		height: 50vh;
	}

	.mainleft{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}

	.left{
		border-radius: 20px 20px 0 0;
		background: #759BFF;
	}

	.middle{
		background: #BD9DFF;
		border-radius:  0 0 20px 20px;
	}

	.left, .middle{
		min-width: calc(100% - 10px);
		padding: 5px;
		text-align: justify;
		/*box-sizing: border-box;*/
	}

	input[type=text]{
		min-height: 3vh;
		height: 100%;
		width: 100%;
		border: none;
		text-align: center;
	}

	.remove{
		height: 100%;
		width: 6vw;
		flex-shrink: 0;
		border-radius:  10px;
		font-size: 1em;
	}



	#row1, #row2, #row3{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 2vh 0;
	}

	#row1 p{
		width: max-content;
		color: white;
	}

	#fileinput{
		width: 50%;
		height: 6vh;
		min-width: 16em;
		border-radius: 7px;
		border: none;
		text-align: left;
		padding: 0;
		position: relative;
		box-sizing: border-box;
	}

	#fileinput input.bta{
		position: absolute;
		left: 0;
		right: 0;
		z-index: 2;
		height: 100%;
		width: 100%;
		opacity: 0;
	}
	#buildingphoto {
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		letter-spacing: 0;
		color: black;
		height: 100%;
		width: 100%;
		box-sizing: border-box;
		font-size: 1em;
		letter-spacing: 0;
		line-height: 3vh;
	}
	#address{
		height: 6vh;
		width: 40vw;
		min-width: 300px;
	}
	.bta, .bt{
		width: 20vw;
		min-width: 200px;
	}
}
@media only screen and (max-device-width: 800px) {

	body{
		font-size: 48px;
	}
	h2{
		margin: 3vh 0 2vh 0;
	}
	section{
		height: 30vh;
		width: 100%;
		font-size: 44px;
	}

	.mainleft{
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;
	}	


	.left{
		border-radius: 20px 20px 0 0;
		background: #759BFF;		
	}	

	
	.middle{
		background: #BD9DFF;
		border-radius:  0 0 20px 20px;
	}
	
	.left, .middle{
		min-width: calc(100% - 10px);
		padding: 5px;
		text-align: justify;
	}

	.remove{
		height: 100%;
		width: 10vw;
		flex-shrink: 0;
		border-radius:  20px;
		font-size: 1em;
	}

	#row1, #row2, #row3{
		flex-direction: column;
	}

	#topay{
		width: 100%;
		min-height: 6vh;
		line-height: 6vh;
		color: white;
		font-size: 1em;
	}
	#fileinput{
		position: relative;
		font-size: 1em;
		width: 100%;
		height: 6vh;
		line-height: 3vh;
	}
	#fileinput input.bta{
		position: absolute;
		font-size: 0.6em;
		left: 0;
		right: 0;
		z-index: 2;
		height: 6vh;
		opacity: 0;
	}
	#fileinput div.bta{
		position: absolute;
		left: 0;
		right: 0;
		height: 6vh;
		z-index: 1;
		letter-spacing: 0;
		line-height: 3vh;
	}
}