@media only screen and (max-device-width: 600px) {

	*{
		margin: 0;
	}

	body{
		flex-direction: column;
		justify-content: center;
		font-size: 42px;
	}
	
	h2{
		font-size: 1.5em;
	}

	.logo{
		width: 100%;
	}

	.logo img{
		margin-bottom: 0vh;
		max-width: 50vw;
		max-height: 50vw;
		width: 50vw;
		height: 50vw;
	}
	
	.content{
		width: 100%;
		align-items: center;
	}
	
	.bt, .bta{
		border-radius: 1em;
		font-size: 1em;
	}
	
	#errtext{
		margin: 0;
	}
}

