/*common + for computer first */

body, .content{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

h2{
	margin: 0;
	width: 100%;
}

.btlist{
	width: 100%;
}

#errtext{
	font-size: 0.6em;
	width: 100%;
	margin: 0;
}



.bt{
	margin: 0;
	min-height: max-content;
}

.bta{
	margin: 0;
	min-height: max-content;
}


section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #C4C4C4;
}

.record{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
}


@media only screen and (min-device-width: 601px) {
	.phone{
		display: none;
	}

	.mainleft{
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		flex-grow: 1;
	}



	.up{
		background: pink;
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		flex-shrink: 0;
		border-radius: 10px 10px 0 0;
	}


	.left, .middle, .down{
		padding: 0.2% 5px;
		display: inline-block;
		vertical-align: center;
	}

	.left{
		flex-grow: 1;
		height: 100%;
		background: #759BFF;
		border-radius: 10px 0 0 0;
	}

	.middle{
		width: 10em;
		height: 100%;
		background: #BD9DFF;
		text-align: center;
	}

	.right{
		width: 3em;
		height: 100%;
		flex-shrink: 0;
		border-radius: 0 10px 10px 0;
	}
	.down{
		background: #87BEFF;
		flex-shrink: 0;
		border-radius: 0 0 10px 10px;
	}



	input[type=number]{
		height: 100%;
		width: 100%;
		border: none;
		text-align: center;
		border-radius: 0 10px 0 0;
	}

	.mainright{
		border-radius: 3px;
		width: 6vh;
		flex-shrink: 0;
	}

	.add{
		width: 100%;
		height: 100%;
		border-radius: 10px;
		border: none;
	}

	footer{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
	}
	footer .bt, footer .bta {
		min-width: 200px;
		width: 20vw;
	}

}


@media only screen and (max-device-width: 600px) {

	body{
		font-size: 48px;
	}

	h2{
		margin-top: 3vh;
	}
	section{
		height: 60vh;
		width: 100%;
		font-size: 44px;
	}

	.computer, footer{
		display: none;
	}

	.mainleft{
		height: 100%;
		width: 100%;
	}


	.up{
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: normal;
		flex-shrink: 0;
	}


	.left{
		border-radius: 20px 20px 0 0;
		background: #759BFF;
	}

	.left, .down, .middle{
		min-width: 100%;
		padding: 5px;
		text-align: justify;
		box-sizing: border-box;
	}

	.mainright{
		display: flex;
		flex-direction: column;
		height: 100%;
		width: 18vw;
	}

	.add, .right{
		border-radius: 3px;
		width: 6vh;
		height: 50%;
		width: 18vw;
		border: none;
	}

	input[type=number]{
		height: 100%;
		width: 100%;
		width: 18vw;
		text-align: center;

		flex-shrink: 0;
		border-radius: 20px;
		border: none;
		font-size: 1em;
	}

	.add{
		border-radius:  20px;
		font-size: 1em;
	}

	.down{
		width: 10em;
		height: 100%;
		background: #87BEFF;
		text-align: center;
	}

	.middle{
		width: 3em;
		height: 100%;
		flex-shrink: 0;
		border-radius:  0 0 20px 20px;
		background: #BD9DFF;
	}
}


.record.computer:nth-last-of-type(1){
	margin: 0;
}
.record.phone:nth-last-of-type(2){
	margin: 0;
}