/*common + for computer first */

body{
	height: 100vh;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-content: space-between;
	width: 100vw;
	margin: 0;
}

#left{
	display: flex;
	flex-direction: column;
	width: 47%;
}

section{
	width: 47%;
}

/*left*/
#left{
	display: flex;
	flex-direction: column;
	width: 47%;
}

#mainright{

}

h2{
	margin: 2vh 0;
	width: 100%;
}

#errtext{
	font-size: 0.6em;
	width: 100%;
	margin: 0;
}

.btlist{
	width: 100%;
}


section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
	height: 90vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #C4C4C4;
}

form:first-of-type input[type=text]{

}
form input[type=text]{
	flex-grow: 1;
}

label{
	background-color: white;
	padding: 0 0.25em;
}

.add{
	width: 6em;
	background-color: #759BFF;
}
.edit{
	width: 3em;
	background: #BD9DFF;
}
.rem{
	width: 3em;
	background: #759BFF;
}

/*form + naglowek*/
.record{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
	overflow: hidden;
}

#errtext{
	width: 100%;
	height: 10vh;
}


@media only screen and (min-device-width: 601px) {
	.record{
		border-radius: 10px;
	}
}


@media only screen and (max-device-width: 600px) {

	body{
		font-size: 48px;
	}

	h2{
		margin-top: 3vh;
	}
	section{
		height: 60vh;
		width: 100%;
		font-size: 44px;
	}

	.record{
		border-radius: 20px;
	}


}


.record:last-child{
	margin: 0;
}