/*common + for computer first */

body{
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 80%;
	margin: 0 auto;
}

h2{
	margin: 0;
	width: 100%;
}



section{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	font-size: 20px;
	height: 70vh;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #C4C4C4;
}

form input[type=text]{
	flex-grow: 1;
	background: #FFFFFF;
}

.searchBar{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
	overflow: hidden;

}


/*form + naglowek*/
.record{
	display: flex;
	flex-direction: row;
	width: 100%;
	margin-bottom: 1vh;
	flex-shrink:0;
	overflow: hidden;
}

.mainleft{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex-grow: 1;
}

.up, .middle, .down{
	line-height: 1.2em;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-grow: 1;
}

.mainright{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 3em;
}
.mainright *{
	flex-grow: 1;
}

.edit{
	background: #BD9DFF;
}
.rem{
	background: #759BFF;
}


.up{
	width: 100%;
	background: #87BEFF;
}

.middle{
	width: 100%;
}


.middle label{
	background: #BD9DFF;
	width: 5em;
	flex-grow: 0;
}

.middle input{
	background: #BD9DFF;
	flex-grow: 1;
}

.down{
	display: inline;
	width: 100%;
	background: #87BEFF;
}

.down label{
	background: #87BEFF;
}

#errtext{
	width: 100%;
	height: 10vh;
}

.btlist{
	width: 100%;
}

@media only screen and (min-device-width: 601px) {
	.record{
		border-radius: 10px;
	}
}


@media only screen and (max-device-width: 600px) {

	body{
		font-size: 48px;
	}

	h2{
		margin-top: 3vh;
	}
	section{
		height: 60vh;
		width: 100%;
		font-size: 44px;
	}

	.record{
		border-radius: 20px;
	}


	.mainright{
		width: 5em;
	}
	input[type=checkbox]{
		height: 0.6em;
		width: 0.6em;
	}
	a.bta{
		font-size: 1em;
		border-radius: 1em;
	}
}


.record:last-child{
	margin: 0;
}