.logo, .content{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 50%;
}

/*left*/

.logo img{
	max-width: 35vh;
	max-height: 35vw;
	width: 35vw;
	height: 35vh;
	margin-bottom: 5vh;
	border-radius: 50%;
}


h1{
	font-size: 1em;
	text-align: center;
	letter-spacing: 0.25em;
	width: 25vw;
	color: #FFFFFF;
}

@media only screen and (max-device-width: 600px) {

	.computer{
		display: none;
	}



	body{
		/*margin-bottom: 5vh; /*na przyciski systemowe*/
		flex-direction: column;
		justify-content: center;
		font-size: 42px;
	}

	.logo{
		width: 100%;
	}

	.logo img{
		margin-bottom: 0vh;
		max-width: 50vw;
		max-height: 50vw;
		width: 50vw;
		height: 50vw;
	}

	.content{
		width: 100%;
		align-items: center;
	}

	h1{
		font-size: 1.5em;
		margin: 2vh 0 2vh 0;
		width: 100%;
	}

	h2{
		font-size: 1.5em;
		margin: 5vh 0 2vh 0;
		width: 100%;
	}

	.bt, .bta{
		border-radius: 1em;
		font-size: 1em;
	}

}